
    <div class="container shadow-sm p-3 mb-5 bg-white rounded">
      <form>
        <br>
        <div class="submit-form">
            <br>
            <div class="form1 shadow p-5 bg-light">
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="year">Year:</label>
                  <input type="text" class="form-control" id="year" required [(ngModel)]="info.year"
                    name="year" />
                </div>
              </div>

  
              <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="min_temp">Minimum temperature in °C:</label>
                    <input type="text" class="form-control" id="min_temp" required [(ngModel)]="info.min_temp"
                      name="min_temp" />
                  </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="max_temp">Maximum temperature in °C:</label>
                    <input type="text" class="form-control" id="max_temp" required [(ngModel)]="info.max_temp"
                      name="max_temp" />
                  </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="avg_temp">Average temperature in °C: </label>
                    <input type="text" class="form-control" id="avg_temp" required [(ngModel)]="info.avg_temp"
                      name="avg_temp" />
                  </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="pcp">Precipitation in millimeters: </label>
                    <input type="text" class="form-control" id="pcp" required [(ngModel)]="info.pcp"
                      name="pcp" />
                  </div>
              </div>

  
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="crime_type">Select crime:</label>
                  <select id="crime_type" class="form-control" required [(ngModel)]="info.crime_type"
                  name="crime_type">
                    <option selected>homicide</option>
                    <option>violent_crime</option>
                    <option>robbery</option>
                    <option>aggravated_assault</option>
                    <option>property_crime</option>
                    <option>burglary</option>
                    <option>larceny</option>
                    <option>motor_vehicle_theft</option>
                  </select>
                </div>
            </div>

              
              <button (click)="getInfo()" class="btn">Visualize</button>
        </div>
        <br>

        <table class="table container-fluid" id="excel-table">
          <thead style="background-color: rgba(199, 198, 197, 0.674);">
            <tr>
              <th scope="col">State</th>
              <th scope="col">R2</th>
              <th scope="col">PREDICTION</th>
              <th scope="col"> </th>
            </tr>
          </thead>




         <tbody>
          <tr *ngFor="let state of states">
          <td>{{state}}</td> 
          <td>{{ resps.AK.R2 }} </td>
          <td>{{ resps.AL.Prediction }} </td>
        </tr>

           
<!--         
             <tr *ngFor="let state of states; let i=index">
              <ng-container *ngFor="let resp of resps">
                <td>{{ state.name }}</td>
                <td>{{ resps.state.name.R2 }}</td>
                <td>{{ resps.state.name.Prediction }}</td>
              </ng-container>
            </tr> -->


          </tbody>
        </table>











    </div>
      </form>
    </div>